.ui-widget {
	font-size: 14px !important;
}

#mainMenu{
	width: 75%;
	
}

#loginPanel {

}
.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}
.ui-growl{
	top:70px !important;
}