.ui-widget {
	font-size: 14px !important;
}

#mainMenu{
	width: 100% !important;
}

#loginPanel {
	width:30% !importatnt;
	float:right !important;
	margin: 0 auto !important;
}
.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}